# macOS
.DS_Store

# Python cache
__pycache__/
*.pyc

# Lake cache
.lake_cache/*

# Logs
logs/*

# Environment variables
.env
keys

# Data folders
inference-data/
worker-data/
head-data/

# Node data folders
node/worker-01-data/*
node/source-01-data/*
lib/
